@import "./../../../../assets/style/variable";

.top-bar-container{
  height: 60px;
  border-bottom: 1px solid #e6e6e9;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  background: $white;
}