@import "variable";
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("src/assets/fonts/OpenSans-Regular-webfont.woff");
}

.img-responsive {
  width: 100%;
}
.card {
  background: $white;
  box-shadow: $cardBoxShadow;
  border-radius: $borderRadius-4;
  min-height: 100%;
}
.card-footer {
  border-top: 1px solid $border;
}
.container {
  max-width: 70%;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.vc-href {
  text-decoration: none;
}

.loader {
  border: 5px solid $lightGray; /* Light grey */
  border-top: 5px solid $primary; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
    flex-direction: row;
    display: flex;
  }
}
.margin-auto {
  margin: auto;
}
@media screen and (max-width: 766px) {
  .container {
    max-width: 90%;
  }
  .filter-container {
    display: block !important;
  }
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    flex-direction: row;
    display: flex;
  }
}
